<div class="mt-4">
    <event-card [event]="event()" (deleted)="goBack()" (users)="updateUsers()"></event-card>
</div><br>

<ol-map [coordinates]="coordinates()">
    <ol-marker [coordinates]="coordinates()"></ol-marker>
</ol-map><br>

<div class="right-column">
    <div class="card mt-4 mb-4">
        <div class="card-header bg-danger text-white" id="address">Attendees to the event</div>
        <ul class="list-group" id="userList">
            @for (user of usersAttend; track user.id) {
            <li class="list-group-item">
                <a class="avatar">
                    <img class="rounded-circle float-start me-3" style="width: 40px; height: 40px;" [src]="user.avatar" [alt]="user.name">
                </a>
                <div>
                    <div>
                        <a class="text-decoration-none name">{{ user.name }}</a>
                    </div>
                    <div>
                        <small class="email">{{ user.email }}</small>
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>

    <form class="mt-4" [formGroup]="newCommentForm" (ngSubmit)="addComment()">
        <div class="form-group">
            <textarea class="form-control" formControlName="comment" placeholder="Write a comment"></textarea>
        </div>
            <button type="submit" class="btn btn-primary mt-3">Send</button>
    </form>

    <div class="card mt-4 mb-4">
    <div class="card-header bg-info text-white" id="address">User comments</div>
    <ul class="list-group" id="userComments">
        <!-- No he puesto las propiedades dentro de comment como comment.date pq me dice q no existen aunque 
        en los console.log si q salen, ademas si las pones y guardas varias veces algunas veces funciona y 
        otras no sin cambiar nada del codigo -->
        @for (comment of comments; track comment) {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-auto text-center user-info">
                        <a class="avatar">
                            <img class="avatar rounded-circle" [src]="comment" [alt]="comment">
                        </a> 
                        <div>
                            <small><a class="text-decoration-none name">{{ comment }}</a></small>
                        </div>
                        <div>
                            <small class="date">{{ comment }}</small>
                        </div>
                    </div>
                    <div class="col comment">{{ comment }}</div>
                </div>
            </li>
        }
    </ul>
</div>

</div>

<div class="mt-4 mb-4">
    <button class="btn btn-success" (click)="goBack()">Go back</button>
</div>