@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "ol/ol.css";
@import "@geoapify/geocoder-autocomplete/styles/minimal.css";

.autocomplete-container {
    position: relative;
}